.section-1__botones{
    flex-direction: row;
    justify-content: center;
}

.section-1__botones__boton-ios{
    margin-right: 6px;
}

.section-1__botones__boton-mac{
    margin-left: 6px;
}

.section-2{
    margin-bottom: 340px;
}

.section-2__contenedor-elementos__atributos__item__titulo, 
.section-2__contenedor-elementos__atributos__item__texto{
    text-align: left;
}

.section-2__contenedor-elmentos__imagen{
    width: 65%;
    max-width: 800px;
    position: absolute;
    transform: translateX(-50%);
}

.section-2__contenedor-elementos__atributos{
    position: relative;
    transform: translate(75%, 10%);
}

.section-4{
    width: 100%;
}

.section-4__items__item{
    margin: 0 25px 0 25px;
}

.section-5{
    width: 100%;
}
