.section-1__botones, .section-6__botones{
    flex-direction: row;
    justify-content: center;
}

.section-1__botones__boton-ios,
.section-6__botones__boton-ios {
    margin-right: 6px;
}

.section-1__botones__boton-mac,
.section-6__botones__boton-ios {
    margin-left: 6px;
}

.section-2{
    margin-bottom: 340px;
}

.section-2__contenedor-elementos__atributos__item__titulo, 
.section-2__contenedor-elementos__atributos__item__texto{
    text-align: left;
}

.section-2__contenedor-elmentos__imagen{
    width: 65%;
    max-width: 800px;
    position: absolute;
    transform: translateX(-50%);
}

.section-2__contenedor-elementos__atributos{
    position: relative;
    transform: translate(75%, 10%);
}

.section-4{
    width: 100%;
}

.section-4__items__item{
    margin: 0 25px 0 25px;
}

.section-5{
    width: 100%;
}

.footer{
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__logo{
    margin-left: 130px;
}

.footer__opciones{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.9rem;
}

.footer__opciones__grupo{
    text-align: left;
}

.footer__redes-sociales{
    width: 20%;
    margin-right: 130px;
}