*{
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.3rem;
}

html{
    --strong-cyan:hsl(171, 66%, 44%);
    --light-blue:hsl(233, 100%, 69%);
    --dark-grayish-blue:hsl(210, 10%, 33%);
    --grayish-blue:hsl(201, 11%, 66%);
}

body{
    min-width: 320px;
}

*::selection{
    background-color: hsla(171, 66%, 44%, 0.425);
}

img{
    width: 10px;
}

.texto-general{
    font-size: 1rem;
    color: var(--grayish-blue);
}

.titulo-principal{
    color: var(--dark-grayish-blue);
    font-size: 1.6rem;
}

.titulo-general{
    color: var(--dark-grayish-blue);
    font-size: 1.5rem;
}


.boton{
    width: 80%;
    max-width: 240px;
    text-align: center;
    border-radius: 1.5rem;
    padding:0.7rem 0 0.7rem;
    border-color: transparent;
    font-size: 1rem;
    color: white;
    background-color: black;
    text-decoration: none;
}

.boton--azul-turquesa{
    background-color: var(--strong-cyan);
    box-shadow: 1px 2px 1px hsl(171, 63%, 38%);
}

.boton--azul-turquesa:hover{
    background-color: hsl(171, 55%, 62%);
    cursor: pointer;
}

.boton--azul-turquesa:active, .boton--morado:active{
    position: relative;
    top: 3px;
    box-shadow: none;
}

.boton--morado{
    background-color: var(--light-blue);
    box-shadow: 1px 2px 1px hsl(233, 55%, 55%);
}

.boton--morado:hover{
    background-color: hsl(233, 100%, 81%);
}


.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/bg-header-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.section-1__logo{
    width: 6rem;
    margin: 80px 0 80px;
}

.section-1__info{
    width: 80%;
    max-width: 382px;
    text-align: center;
}

.section-1__info__titulo{
    margin-bottom: 20px;
    font-size: 1.8  rem;
    color: var(--dark-grayish-blue);
}

.section-1__info__texto{
    text-align: none;
    margin-bottom: 30px;
}

.section-1__botones{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.section-1__botones__boton-ios, .section-1__botones__boton-mac{
    margin-bottom: 1.5rem;
}

.section-2{
 display: flex;
 flex-direction: column;   
 align-items:  center;
 margin-bottom: 130px;
}

.section-2__info__titulo{
    margin-bottom: 20px;
}

.section-2__info{
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
}

.section-2__contenedor-elementos__atributos__item__titulo{
    margin-bottom: 20px;
}

.section-2__contenedor-elementos{
    width: 80%;
    max-width: 625px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.section-2__contenedor-elementos__atributos{
    max-width: 371px;
}

.section-2__contenedor-elementos__atributos__item__titulo{
    margin-bottom: 13px;
}

.section-2__contenedor-elementos__atributos__item__texto{
    margin-bottom: 3.5rem;
}

.section-2__contenedor-elmentos__imagen{
    width: 100%;
    margin-bottom: 60px;
}

.section-3{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
}

.section-3__info{
    margin-bottom: 50px;
}

.section-3__info__titulo{
    margin-bottom: 20px;
}

.section-3__info__texto{
    max-width: 606px;
}

.section-3__imagen{
    width: 100%;
    max-width: 820px;
    filter: drop-shadow(0 7px 7px rgba(0, 0, 0, 0.315));
}

.section-4{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.section-4__info__titulo{
    margin-bottom: 20px;
}

.section-4__info__texto{
    margin-bottom: 70px;
}

.section-4__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-4__items__item{
    max-width: 260px;
    flex-grow: 1;
    margin-bottom: 50px;
}

.section-4__items__item-logo{
    width: 12%;
    max-width: 57px;
    margin-bottom: 20px;
}

.section-4__items__item-titulo{
    margin-bottom: 20px;
}

.section-4__items__item-texto{
    margin: 0 auto;
}